.img {
  object-fit: cover;
  border-radius: 24px;
  width: 224px;
}
.img_container {
  width: 224px;
  height: 224px;
  position: relative;
  cursor: pointer;
}
.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border-radius: 24px;
}
.container {
  width: 100%;
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 20px;
}
.container::-webkit-scrollbar {
  height: 8px; /* Set the height of the scrollbar */
}

.container::-webkit-scrollbar-track {
  background-color: #f3e8ff; /* Light purple background color for the track */
  border-radius: 4px; /* Rounded corners for the track */
}

.container::-webkit-scrollbar-thumb {
  background-color: #a257ff; /* Purple color for the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #8a47d4; /* Slightly darker purple on hover */
}
.nextBtn {
  position: fixed;
  top: 50%;
  right: 20px;
  width: 60px;
  height: 60px;
  background: transparent;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 999;
}

.nextBtn::before {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  border-top: 4px solid #b587ff;
  border-right: 4px solid #b587ff;
  transform: rotate(45deg);
  margin: auto;
}
.prevBtn {
  position: fixed;
  top: 50%;
  left: 20px;
  width: 60px;
  height: 60px;
  background: transparent;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 999;
}

.prevBtn::before {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  border-top: 4px solid #b587ff;
  border-right: 4px solid #b587ff;
  transform: rotate(-135deg);
  margin: auto;
}
