.container {
  width: 80%;
}
.list {
  list-style: none;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}
.categoryItem {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  color: #111;
  gap: 20px;
  border-radius: 32px;
  padding: 5px 20px;
}
.categoryItemActive {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background: #9161df;
  gap: 20px;
  border-radius: 32px;
  padding: 5px 20px;
}
.categoryItem:hover {
  color: #9161df;
}
.listLink {
  text-decoration: none;
  color: var(--themecolor);
  font-size: 14px;
}
.listLinkActive {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
@media screen and (max-width: 1200px) {
  .list {
    flex-direction: column;
  }
}
