* {
  font-family: "__Nunito_Sans_1271bd";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
  --themecolor: black;
  --twothemecolor: white;
  --blackitems: #fff;
  --btnsbackground: #fbf3fe;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
  --themecolor: white;
  --twothemecolor: black;
  --blackitems: #2f2f2f;
  --btnsbackground: #ffffff;
}
input {
  width: 100%;
  background: #fbf3fe;
  border-radius: 8px;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  color: #111;
}
input:focus {
  outline: none;
}
body {
  overflow-x: hidden;
}
select {
  background: transparent;
}
select:focus {
  background-color: var(--blackitems); /* Цвет фона при выборе */
}
