.topContCard {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  background: #fbf3fe;
  border-radius: 24px;
  padding: 20px;
  flex-wrap: wrap;
}

.img {
  border-radius: 50%;
  object-fit: cover;
}
.headContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.nick {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #111;
}
.secondTop {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mapCont {
  display: flex;
  gap: 10px;
  align-items: center;
}
.leftContent {
  display: flex;
}
.commentBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  color: #111;
}
.contactsBtn {
  cursor: pointer;
  color: #fff;
  background: #9161df;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0.5s;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #9161df;
  width: 220px;
  margin-top: 20px;
}
.contactsTitle {
  font-size: 42px;
  font-weight: 700;
  margin: 30px 0;
  min-width: 320px;
  width: 100%;
}
.linkContacts {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  color: var(--themecolor);
  justify-content: center;
  padding: 15px 0;
}
.city {
  color: #7e7c7c;
  text-decoration: none;
  font-weight: 700;
}
.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.rightContent {
  color: #111;
}
.cat {
  color: #fff;
  cursor: pointer;
  background: #9161df;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0.5s;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #9161df;
  transition: 0.5s;
}
.cat:hover {
  transition: 0.5s;
  color: #9161df;
  border: 1px solid #9161df;
  background: transparent;
}
.cost {
  width: 100%;
  background: #fff;
  border-radius: 16px;
  margin-top: 20px;
  padding: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.costTitle {
  font-size: 18px;
  font-weight: 700;
  color: #111;
}
.costText {
  font-size: 16px;
  font-weight: 700;
  color: #9161df;
}
@media screen and (max-width: 720px) {
  .leftContent {
    flex-wrap: wrap;
  }
  .headContent {
    flex-wrap: wrap;
  }
  .nick {
    font-size: 16px;
    font-weight: 700;
  }
  .city {
    font-size: 14px;
  }
  .contactsBtn {
    width: 135px;
    font-size: 14px;
  }
  .img {
    width: 100px;
    height: 100px;
  }
  .executor {
    margin-bottom: 20px;
    padding: 15px;
  }
}
