.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.title {
  font-size: 48px;
  font-weight: 700;
  margin: 50px 0;
}
.subtitle {
  font-size: 32px;
  margin-bottom: 20px;
}
.text {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}
.navBtns {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.btnBack {
  background: transparent;
  border: 1px solid #9161df;
  color: #9161df;
  padding: 15px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 500;
}
.nextBtn {
  background: #9161df;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  padding: 15px;
  cursor: pointer;
}
.nextBtn:disabled {
  background: #ccc;
  cursor: not-allowed;
}
