.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.input {
  z-index: 1;
  max-width: 480px;
  width: 100%;
  background: #fbf3fe;
  border-radius: 8px;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  color: #111;
}
.eyeBtn {
  position: absolute;
  z-index: 5;
  background: transparent;
  border: none;
  right: 30px;
  cursor: pointer;
  transition: 0.5s;
}
@media screen and (max-width: 680px) {
  .input {
    font-size: 16px;
  }
}
