.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 20px;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #f3f3f3;
  padding-bottom: 20px;
}
.catTitle {
  font-size: 24px;
  width: 210px;
}
.content {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 30px;
}
.users {
  width: 100%;
}
.title {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebe9e9;
}
@media screen and (max-width: 1200px) {
  .categories {
    display: none;
  }
  .users {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .container {
    padding: 40px 10px;
  }
}
