.executor {
  width: 100%;
  margin-bottom: 40px;
  background: var(--usercardcolor);
  padding: 40px;
  border-radius: 24px;
}
.img {
  border-radius: 50%;
  object-fit: cover;
}
.headContent {
  display: flex;
  justify-content: space-between;
}
.nick {
  font-size: 20px;
  font-weight: 700;
}
.secondTop {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mapCont {
  display: flex;
  gap: 10px;
  align-items: center;
}
.leftContent {
  display: flex;
}
.commentBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}
.contactsBtn {
  cursor: pointer;
  color: #fff;
  background: #9161df;
  border-radius: 8px;
  padding: 10px 20px;
  transition: 0.5s;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #9161df;
  max-width: 480px;
  width: 100%;
  margin-top: 20px;
}
.contactsTitle {
  font-size: 42px;
  font-weight: 700;
  margin: 30px 0;
  min-width: 320px;
  width: 100%;
}
.linkContacts {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  color: var(--themecolor);
  justify-content: center;
  padding: 15px 0;
}
.city {
  color: #7e7c7c;
  text-decoration: none;
  font-weight: 700;
}
